.ant-tabs-content-holder {
  height: 100%
}

.ant-layout.manager-dashboard-layout {
  background:  #f0f2f5;
}

.public-message-title-icon {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  color: rgb(0, 0, 0);
  margin-bottom: 2vh;
}

.ant-col.public-message-title-icon {
  /* margin-left: 2%; */
  background: #ffff;
  border-radius: 2vh;
}

.public-message-second-title {
  background: #ffff;
  font-size: 18px;
  border-radius: 2vh;
  margin-bottom: 2vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.public-message-title-col {
  /* margin-left: 2%; */
  border-radius: 2vh;
  margin-bottom: 2vh;
  background: white;
  /* background: #6689AB; */
  color: rgb(0, 0, 0)
}

.public-message-title-col-content {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  font-weight: 500;
}


.public-message-second-title-col-content {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  font-weight: 400;
}

.public-message-col {
  border-radius: 2vh;
  background: white;
}

.public-message-col-content {
  height: 50vh;
}

.private-message-title-col {
  /* display: flex;
  align-items: center; */
  border-radius: 2vh;
  margin-bottom: 2vh;
  background: white;
}

.private-message-title-col-content {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  font-weight: 500;
}

.private-message-col {
  border-radius: 2vh;
  background: rgb(255, 255, 255);
}
    
.private-message-col-content {
    height: 57vh;
}

.ant-input.ant-input-borderless {
  resize: none;
}

.ant-input {
  resize: none;
}




/* .personal-message-col {
  min-width: 40%;
  display: flex;
  align-items: center;
  border-radius: 2%;
} */

/* .personal-message-title-col {
  min-width: 40%;
  display: flex;
  align-items: center;
  border-radius: 1vh;
  margin-bottom: 2vh;
} */



/* .ant-col.public-message-col {
  background: white;
} */

/* .ant-col.public-message-title-col {

  background: white;
}

.ant-col.private-message-col {

  background: rgb(255, 255, 255);
}

.ant-col.private-message-title-col {

  background: white;
} */



/* .public-sending {
  margin-left: 0%;
  height: 50%
} */

.public-invoice-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.ant-col.ant-col-8.ant-col-offset-14.ant-form-item-control {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.ant-btn.ant-btn-primary.ant-btn-sm {
  color: #fff;
}

.card-container p {
  margin: 0;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  padding: 16px;
  background: #fff;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
  background: transparent;
  border-color: transparent;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  background: #9193CF;
  border-color: #fff;
}
#components-tabs-demo-card-top .code-box-demo {
  padding: 24px;
  overflow: hidden;
  background: #f5f5f5;
}
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}

