.ant-layout.discussion-layout {
  height: 73vh;
  margin: 7vh 6vw;
  display: flex;
  background: #ffffff;
  border-radius: 2vh;
}

.discussion-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.discussion-list-div {
  height: 60vh;
  margin: 2vh 8vw;
  display: flex;
  border-radius: 3vh;
}

.chat-bubble{
  width: fit-content;
  max-width: 400px;
  padding: 1%;
  border-radius: 2vh;
  background-color: #9193CF;
}