.ant-layout.discussion-layout {
  height: 80vh;
  margin: 5vh 4vw;
  display: flex;
  background: #ffffff;
  border-radius: 2vh;
}

.discussion-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.discussion-list-div {
  height: 60%;
  margin: 2vh 8vw;
  display: flex;
  border-radius: 3vh;
}

.chat-bubble{
  width: fit-content;
  min-width: 3%;
  max-width: 30%;
  padding: 0.7% 1.5%;
  border-radius: 2.5vh;
  /* background-color: #9193CF; */
  background-color: #6869ac;
}