.manager-reservation-layout {
  background:  #f0f2f5;
}

.manager-reservation-content {
  height: 60vh;
  margin: 7vh 6vw;
  display: flex;
}

.public-utils-content {
  height: 60vh;
  margin: 7vh 2vw;
  display: flex;
}
.manager-reservation-form-content {
  width: 72%;
}

.manager-reservation-form-layout {
  background: white;
  border-radius: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.maintenance-requests-icon {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  color: rgb(0, 0, 0);
  margin-bottom: 2vh;
  background: #ffff;
  border-radius: 2vh;
}

.public-utilities-icon {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  color: rgb(0, 0, 0);
  margin-bottom: 2vh;
  background: #ffff;
  border-radius: 2vh;
}

.ant-btn.ant-btn-primary {
  background: #6667AB;
}

.maintenance-title-col {
  /* min-width: 40%; */
  display: flex;
  align-items: center;
  border-radius: 2vh;
  margin-bottom: 2vh;
  background: white;
}

.public-utils-title-col {
  /* min-width: 40%; */
  display: flex;
  align-items: center;
  border-radius: 2vh;
  margin-bottom: 2vh;
}
.ant-col.public-utils-title-col {
  /* margin-left: 3%;
  margin-right: 7%; */
  background: white;
}

.maintenance-title-col-content {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  font-weight: 500;
  }

.public-utils-title-col-content {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  font-weight: 500;
  }



.manager-reservation-layout {
  background:  #f0f2f5;
}

.maintenance-col {
  overflow: auto;
  min-width: 40%;
  display: flex;
  align-items: center;
  border-radius: 2vh;
  background: white;
}

.public-utils-col {
  overflow: auto;
  /* min-width: 40%; */
  display: flex;
  align-items: center;
  border-radius: 2vh;
}

.ant-col.public-utils-col {
  /* margin-left: 3%;
  margin-right: 7%; */
  background: white;
}

.manager-maintenance-list{
  height: 90%;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;

}

.ant-btn.ant-btn-primary.util-button{
  height: 100px;
}

.util-modal{
  height: 600px;
  overflow: auto;
}