.manager-reservation-layout {
  background:  #f0f2f5;
}

.manager-reservation-content {
  height: 60vh;
  margin: 7vh 6vw;
  display: flex;
}

.public-utils-content {
  height: 60vh;
  margin: 7vh 6vw;
  display: flex;
}
.manager-reservation-form-content {
  width: 72%;
}

.manager-reservation-form-layout {
  background: white;
  border-radius: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ant-btn.ant-btn-primary {
  background: #6667AB;
}

.maintenance-title-col {
  min-width: 40%;
  display: flex;
  align-items: center;
  border-radius: 1vh;
  margin-bottom: 2vh;
}
.ant-col.maintenance-title-col {
  margin-right: 3%;
  margin-left: 7%;
  background: white;
}

.public-utils-title-col {
  min-width: 40%;
  display: flex;
  align-items: center;
  border-radius: 1vh;
  margin-bottom: 2vh;
}
.ant-col.public-utils-title-col {
  margin-left: 3%;
  margin-right: 7%;
  background: white;
}

.maintenance-title-col-content {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  font-weight: 600;
  }

.public-utils-title-col-content {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  font-weight: 600;
  }

.manager-reservation-layout {
  background:  #f0f2f5;
}

.maintenance-col {
  overflow: auto;
  min-width: 40%;
  display: flex;
  align-items: center;
  border-radius: 2%;
}

.ant-col.maintenance-col {
  margin-right: 3%;
  margin-left: 7%;
  background: white;
}

.public-utils-col {
  min-width: 40%;
  display: flex;
  align-items: center;
  border-radius: 2%;
}

.ant-col.public-utils-col {
  margin-left: 3%;
  margin-right: 7%;
  background: white;
}

.manager-maintenance-list{
  height: 90%;
  overflow: auto;
  overflow-x: hidden;
  margin: 2% 8%;
  display: flex;
  flex-direction: column;
  justify-content: center
}
/* .myCarousel {
  height: auto;
  width: 90%;
  overflow: auto;
} */