.reservation-layout {
  background:  #f0f2f5;
}

.resident-maintenance-content {
  height: 65vh;
  margin: 2vh 2vw;
  display: flex;
}

.resident-reservation-content {
  height: 65vh;
  margin: 2vh 2vw;
  display: flex;
}

/* .manager-reservation-form-content {
  width: 72%;
} */

/* .manager-reservation-form-layout {
  background: white;
  border-radius: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.resident-maintenance-requests-icon {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  color: rgb(0, 0, 0);
  margin-bottom: 2vh;
  background: #ffff;
  border-radius: 2vh;
}

.resident-reservation-icon {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  color: rgb(0, 0, 0);
  margin-bottom: 2vh;
  background: #ffff;
  border-radius: 2vh;
}

.ant-btn.ant-btn-primary {
  background: #6667AB;
}

.resident-maintenance-title-col {
  /* min-width: 40%; */
  display: flex;
  align-items: center;
  border-radius: 2vh;
  margin-bottom: 2vh;
  background: white;
}

.resident-reservation-title-col {
  /* min-width: 40%; */
  display: flex;
  align-items: center;
  border-radius: 2vh;
  margin-bottom: 2vh;
  background: white;
}

.resident-maintenance-title-col-content {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  font-weight: 500;
  }

.resident-reservation-title-col-content {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  font-weight: 500;
  }


.resident-maintenance-col {
  /* overflow: auto; */
  width: 45vw;
  display: flex;
  justify-content: center;
  border-radius: 2vh;
  background: white;
  flex-direction: column;
  align-items: center;
}

.resident-reservation-col {
  /* overflow: auto; */
  width: 45vw;
  display: flex;
  justify-content: center;
  border-radius: 2vh;
  background: white;
  flex-direction: column;
  align-items: center;
}

.resident-utils-list{
  /* max-height: 100%; */
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
}

.resident-maintenance-list {
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
}

.ant-btn.ant-btn-primary.util-button{
  height: 100px;
}

.ant-tabs-content-holder {
  background: #ffff !important;
  padding: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.ant-tabs-content .ant-tabs-content-top {
  height: 100% !important;
  padding-top: 2vh;
}

/* .util-modal{
  height: 600px;
  overflow: auto;
} */

.ant-btn.ant-btn-primary.util-button {
  border-radius: 2vh;
  
}